body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-budget-form {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid, black;
  padding: 20px;
  max-width: 40vw;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.negative {
  color: red;
}

.green {
  color: green;
}

.display-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  padding: 10px;
}

.hidden {
  display: none;
}
