@font-face {
  font-family: "kiona";
  src: url("E:\Trip-budget\trip-budget\src\Kiona-Regular.ttf");
}

html {
  font-family: "kiona";
}

body {
  height: 100vh;
  width: 100vw;
  /* color: #495057; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.main-app {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  top: 0;
}

h1 {
  font-family: "kiona";
  font-size: 55px;
  margin: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
}

.set-budget-form {
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: solid, 2px, black;
  border-radius: 5px;
  padding: 10px;
  width: 60vw;
  height: 555px;
  background-color: #57d156;
}

.form {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

#p {
  font-size: 60px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 130px;
}

label {
  padding: 10px;
  display: flex;
  justify-content: left;
  font-weight: bold;
}

input {
  padding: 4px;
  font-size: 16px;
  font-weight: bold;
  width: 300px;
  font-family: "kiona";
}

.spent-input {
  margin-bottom: 10%;
}

.set-button {
  margin-bottom: 70px;
  margin-top: 10px;
  width: 220px;
}

.update-button {
  margin-top: 10px;
  width: 220px;
}

button:hover {
  background-color: #9ef1a7;
  transition: background-color 0.5s;
}

button {
  font-family: "kiona";
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.remainder-field {
  font-weight: bolder;

  background-color: rgb(248, 242, 234);
}

.red {
  color: red;
}

.green {
  color: green;
}

.item-list {
  width: 30%;
  overflow-y: auto;
  margin-top: 10px;
  max-height: 120px;
  border: solid, 2px, black;
  border-radius: 5px;
}

.items:hover {
  background-color: #9ef1a7;
  transition: background-color 0.5s;
}

.items {
  background-color: #57d156;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  padding: 7px;
  margin-top: 12px;
  margin-left: 5px;
}

.close {
  font-weight: bolder;
  font-size: x-large;
  background: none;
  border: none;
}

.hidden {
  display: none;
}
